  body {
    background: #ececec;
    font-family: 'Roboto', 'sans-serif;' !important;
  } 


.sidebar {
    width: 245px;
    height: 100%;
    position:fixed;
    padding: 0;
    background: linear-gradient(#00b8ff, #02a3e0);
    overflow-y: auto;
  }

  .sidebar .menu{
    font-size: 15px;
    font-weight: bold;
    padding: 0 0.75rem;
    margin-top: 10px;
    margin-bottom: 100px;
  } 


  .sidebar .menu .link {
    display: block;
    padding: 10px;
    margin-left: 15px;
    margin-top: 8px;
    text-decoration: none;
    color: #fff;
    transition: background .3s;
  }


  .sidebar .menu .link:hover {
    background: rgb(0,167,232,0.8);
    border-radius: 4px;
  }

  .sidebar .menu .link:active{
    color: rgb(255,255,255,0.7);
    border-radius: 4px;
  }

  .sidebar .menu .link i {
    margin-right: 20px;
  }

  .link{
    color: white;
  }

  .active {
    background-color: #fff;
    color: #000 !important;
    border-radius: 4px;
  }

  .divider{
    color: #fff;
    opacity: 1;
    margin-left: 10px;
    margin-right: 10px;
  }

  .img-container {
    text-align: center;
    margin-top: 10px;
  }

  .profile{
    background: #0492c9;
    position: fixed;
    width:inherit;
    bottom: 0;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile .photo{
    margin-left: 10px;
  }


  .profile .photo img{
      height: 45px;
      width: 45px;
      object-fit: cover;
      border-radius: 10px;
  }

  .full-name{
    max-width: 90px;
  }

 .content{
  margin: 70px;
}

  .all-content{
    position: absolute;
    height: 100%;
    width: calc(100% - 245px);
    left: 245px;
  }

.sidebar-responsive{
  background: #00b8ff;
  width: 100%;
  height: 50px;
  display: none;
  align-items: center;
  position: absolute;
  top: 100px;
}

.burger{
  background: #00b8ff;
  height: 50px;
  display: none;
}

.burger i{
  margin-left: 10px;
  margin-top: 15px;
  color: white;
  cursor: pointer;
}

  

.box {
  display: flex;
  align-items: center;
  background: red;
}

.box div {
  width: 100px;
  height: 100px;
}


/***************************************************************************************/

  .wrapper{
    background: #fff;
    padding-bottom: 30px;
    border-radius: 4px;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1);
  }


   /* MATERIAL DESIGN INPUT */


 .field-outlined {
  position: relative;
}

  .input {
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    outline: none;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  .label {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 10px;
    left: 25px;
  }

  
 .input:focus ~ .label, .input:valid ~ .label , 
 .input-textarea:focus ~ .label, .input-textarea:valid ~ .label{
    background: #ffffff;
    top: -8px;
    left: 25px;
    font-size: 12px;
    padding: 0 8px;
  }

  .input:hover , .input-textarea:hover {
    border-color: rgba(0, 0, 0, 0.42);
  }

  .input:focus , .input-textarea:focus {
  /*border: 2px solid #1a73e8;*/
    border: 2px solid #00b8ff;
  }

  .input:focus ~ .label , 
  .input-textarea:focus ~ .label {
   /* color: #1a73e8; */
    color: #00b8ff;
  }


  /************************************************************/

  .input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 0;
  }

  .input-box{
    margin-bottom: 40px; 
    width: calc(100% / 2 - 20px);
  }

  .btn{
          cursor: pointer;
          border: none;
          white-space: normal;
          letter-spacing: .25px;
          font-weight: 500;
          font-size: 14px;
          padding: 11px 50px;
          border-radius: 4px;
          line-height: 20px;
          min-width: 88px;
          transition: .25s;
          color: #fff;
          margin-right: 15px;
  }
    .btn-primary{
    background-color: #1a73e8;
    background-color: #00b8ff;
    color: #fff;
  }

  .btn-primary:hover{
    box-shadow: 0 1px 1px 0 rgb(66,133,244, .8),
                0 1px 3px 1px rgb(66,133,244, .5);
    background-color: #287ae6;
    }

  .btn-cancel{
    background-color: #fff;
    border: 1px solid #00b8ff;
    color: #00b8ff;
  }


  .btn-cancel:hover{
    background-color: rgb(0,0,0, .05);
    text-decoration: none;
    color: #00b8ff;
  }


@media screen and (max-width:810px){

  .title{
    font-size: 16px;
  }


   .input-box{
      margin-bottom: 20px;
      width: 100%;
    }
 }




 @media screen and (max-width:632px) {
      .sidebar{
        z-index: 1;
        -webkit-box-shadow: 11px 0px 13px 2px rgba(0,0,0,0.20); 
        box-shadow: 11px 0px 13px 2px rgba(0,0,0,0.20);
        display: none;
      }

      .burger{
        display: block;
      }

      .all-content{
        width: calc(100% - 0px);
        left: 0px;
      }

      .content{
        margin: 30px;
        margin-top: 45px;
    }

    .btn{
        width: 100%;
        margin-bottom: 20px;
    }

 }
