  body {
    background: #00b8ff;
    background: #ececec;
    font-family: 'Roboto' !important;
  } 

  .img-container {
    text-align: center;
    margin-top: 10px;
  }

 .content{
  margin: 60px;
}

  .all-content{
    position: absolute;
    height: 100%;
    width: calc(100% - 245px);
    left: 245px;
  }

.sidebar {
    width: 245px;
    height: 100%;
    position:relative;
    padding: 0;
    background: linear-gradient(#028bbf, #00b8ff);
    background: linear-gradient(#00b8ff, #02a3e0);
  }


  .fixed {
    position:fixed; 
    top:0;
  }

  
  .sidebar .menu .link {
    display: block;
    padding: 12px;
    margin-left: 15px;
    margin-top: 8px;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
  }

  .sidebar .menu .link:active{
    color: rgb(255,255,255,0.7);
    border-radius: 4px;
  }

  .sidebar .menu .link:hover {
    background: rgb(0,167,232,0.8);
    border-radius: 4px;
  }

  .sidebar .menu a i {
    margin-right: 20px;
  }

  .lista{
    font-size: 15px;
    font-weight: bold;
    padding: 0 0.75rem;
    margin-top: 10px;
  } 

  .active {
    background-color: #fff;
    color: #000 !important;
    border-radius: 4px;
  }

  .divider{
    background: #fff;
    border: 1px solid #fff;
    opacity: 0.8;
  }

  .items-table{
    text-align: center;
  }


  .profile{
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 245px;
    background: #0492c9;
    display: flex;
  }

  .name{
    font-size: 15px;
    margin-left: 5px;
    max-width: 90px;
    min-width: 90px;
  }

  .name a{
    color: #fff;
  }

  .name a:hover{
    text-decoration: none;
    color: rgb(255,255,255,0.8);
  }

  .photo{ 
    margin-left: 20px;
  }

  .icon-bar{
    text-align: center;
    margin-top: 10px;
    margin-left: 12px;
  }

  .photo img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 10px;
  }

  .col-item{
    padding: 10px;
  }

  .icon-bar i{
    pointer-events: auto !important;
    cursor: pointer;
    color: #fff;
    margin-left: 25px;
  }

  .icon-bar i:hover{
    color: rgb(255,255,255,0.8);
  }

  .prueba{
  background: #00b8ff;
  width: 100%;
  height: 50px;
  display: none;
 cursor: pointer;
}

.prueba i{
  color: #fff;
  margin-top: 15px;

}


 /************************************************************/

 .btn{
			    cursor: pointer;
			    border: none;
			    white-space: normal;
			    letter-spacing: .25px;
			    font-weight: 500;
			    font-size: 14px;
			    padding: 11px 50px;
			    border-radius: 4px;
			    line-height: 20px;
			    min-width: 88px;
			    transition: .25s;
			    color: #fff;
			    margin-right: 15px;
  }
    .btn-primary{
    background-color: #1a73e8;
    background-color: #00b8ff;
    color: #fff;
  }

  .btn-primary:hover{
    box-shadow: 0 1px 1px 0 rgb(66,133,244, .8),
                0 1px 3px 1px rgb(66,133,244, .5);
    background-color: #287ae6;
    }

    .container-button button{
        float: right;
    }

     @media screen and (max-width:480px) {
  
     	.btn{
     		width: 100%;
     		margin-bottom: 10px;
     	}

     }

     @media screen and (max-width:855px) {


      .btn{
        width: 100%;

      }

      .container-button button{
         float: left;
      }

      .btn-bottom{
         margin-bottom: 20px;
      }



     }


     /* MEDIA QUERY MENU */

  @media screen and (max-width: 768px) {
    .sidebar {
      min-width: 95px;
      max-width: 95px;
    }

    .sidebar .menu a span {
      display: none;
    }

    .sidebar .menu a i {
      margin-left: 5px;

    }

    .img-container{
      margin-left: 15px;
    }

    .divider{
      display: none;
    }

    .profile .name , .profile .photo{
      display: none;
    }

    .profile{
      min-width: 95px;
      max-width: 95px;
    }

    .all-content{
      width: calc(100% - 95px);
      left: 95px;
    }

    .empty h3{
      font-size: 25px;
    }
  }
  
  @media screen and (max-width:480px) {

    .all-content{
      width: calc(100% - 0px);
      left: 0px;
    }

    .input-date{
      padding-left: 10%;
    }

    .empty h3{
      font-size: 20px;
    }

  .sidebar {
    z-index: 1;
    -webkit-box-shadow: 11px 0px 13px 2px rgba(0,0,0,0.20); 
box-shadow: 11px 0px 13px 2px rgba(0,0,0,0.20);
display: none;
  }


    .content{
      margin: 20px;
      margin-top: 90px;
    }

    .prueba{
      display: block;
    }

    .prueba i{
     /* margin-left: 95px;*/
    }

  }
  
/************************************************************/


